html
{
    background-color: aqua;
}
body
{
    width: 90vw;
    background-color: orange;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

p
{
    font-size: 18px;
}