html
{
    background-color: rgb(188, 206, 240);
}
.text
{
    max-width: 960px;
    background-color: rgb(252, 236, 206);
    font-size: 18px;
    padding: 60px;
    margin: auto;
}
.caption
{
    max-width: 960px;
    background-color: rgb(252, 236, 206);
    font-size: 12px;
}