html
{
    background-color: rgb(188, 206, 240);
}
body
{
    width: 960px;
    margin: auto;
    background-color: rgb(252, 236, 206);
}
.text
{
    max-width: 880px;
    font-size: 18px;
    margin: auto;
}
.image
{
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.caption
{
    max-width: 600px;
    font-size: 12px;
    margin: auto
}