html
{
    background-image: url(./20240211_091321.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
body
{
    width: 960px;
    margin: auto;
    background-color: rgb(252, 236, 206);
}
.header
{
    max-width: 880px;
    padding: 5px;
    margin-left: auto; margin-right: auto;
    margin-bottom: -1em;  margin-top: -1em;
}
.text
{
    max-width: 880px;
    font-size: 18px;
    padding: 8px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 0em;  margin-top: 0em;
}
.image
{
    display: block;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.doubleimage
{
    flex: 50%;
    padding: 5px;
}
.tripleimage
{
    flex: 33.33%;
    padding: 5px;
}
.gallery
{
    display: flex
}
.caption
{
    max-width: 600px;
    font-size: 12px;
    text-align: center;
    margin: auto;
}